@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="col-1">
        <img src="https://cdn.tgdd.vn/bachhoaxanh/banners/5599/thuc-an-cho-meo-giam-den-30-0903202395423.jpg" alt="Alternate Text" />
    </div>
    <div style="background:#fff;" class="mt-2">
        <h6>Nhóm hàng thường mua</h6>
        <div class="col-12" style=" display: flex; justify-content: space-around;">
            <a>Thịt heo</a>
            <a>Thịt heo</a>
            <a>Thịt heo</a>
            <a>Thịt heo</a>
            <a>Thịt heo</a>
            <a>Thịt heo</a>
            <a>Thịt heo</a>
            <a>Thịt heo</a>
            <a>Thịt heo</a>
            <a>Thịt heo</a>
        </div>
    </div>
    <div class="mt-2 " style="background: #018846;">
        <h3>TRỨNG, SỮA</h3>
    </div>
</main>